---
import Layout from '../layouts/Layout.astro';
import Terminal from '../components/Terminal.astro';
---

<Layout title="Jonathan Sinaga">
  <div class="min-h-screen w-screen bg-kanagawa-bgDim pt-2 px-4 overflow-y-auto" id="terminal-body">
    <Terminal />
  </div>
</Layout>
